#box
{
    background-color: black;
    height: 80px;
    width: 500px;
    /* margin: 20px; */
    color: white;
    padding: 6px;
}
#box1
{
    background-color: black;
    height: 80px;
    width: 500px;
    margin: 20px 0;
    color: white;
    padding: 6px;
    display: none;  
}
button
{
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
}